## U.S. Unemployment Rate Change by Metropolitan Statistical Area (MSA)

Created by Brian Dew (brianwdew@gmail.com), March 27, 2017.

The goal of this notebook is to create a U.S. map that shows how unemployment rates are changing by city. '

See https://www.bls.gov/lau/ for advance release information.

https://download.bls.gov/pub/time.series/la/la.areamaps (list of codes of all local areas)

http://gis.stackexchange.com/questions/198530/plotting-us-cities-on-a-map-with-matplotlib-and-basemap

http://stackoverflow.com/questions/39742305/how-to-use-basemap-python-to-plot-us-with-50-states

This folder on GitHub (https://github.com/bdecon/Python/Unemp_Map) contains four files needed to make the code work:
1. MSA.csv - contains the names, codes, and locations for metropolitan statistical areas
2. st99_d00.dbf - one of the files used for drawing state shapes
3. st99_d00.shp - main state shapefile
4. st99_d00.shx - final file for drawing state shapes

### Obtaining the city locations and their unemployment rate change values

First, we load the pandas and matplotlib libraries that will allow us to work with data and map it. The second step is to load both the data that do not change (city names, codes, and locations) and the data that do change (BLS unemployment rate estimates). The third step is to combine the two datasets.

In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.patches import Polygon
from mpl_toolkits.basemap import Basemap as Basemap
# Settings for the map
m = Basemap(llcrnrlon=-121, llcrnrlat=20, urcrnrlon=-64, urcrnrlat=49,
            projection='lcc', lat_1=33, lat_2=45, lon_0=-95)

In [2]:
# CSV file contains city names, their BLS codes (Metropolitan 
# MTAs/NECTAs only), and their latitude and longitude
MSA = pd.read_csv('MSA.csv')

# BLS flat file contains the unemployment rate by month since 2015
url = 'https://download.bls.gov/pub/time.series/la/la.data.0.CurrentU15-19'
df = pd.read_table(url, sep='\s+')

In [3]:
# Take only the unemployment data for MSAs and monthly series 
# (M13 is annual average)
df = pd.DataFrame(df[df['series_id'].isin(MSA['fullcode']) 
                 & ~df['period'].isin(['M13'])])

# Clean up the date to convert it to pandas datetime
df.loc[:,'month'] = df['period'].replace(regex=True, 
                                         to_replace=r'M', 
                                         value=r'')
df.loc[:,'day'] = 1
df.loc[:,'date'] = pd.to_datetime(df[['year', 'month', 'day']])
df = df.set_index(['series_id','date'])

# Calculate one year change in unemployment rate for each MSA
df.loc[:,'value_ch'] = df['value'].diff(periods=12)
#df = df.dropna()

# Keep only the latest value for each MSA
df = df.reset_index().groupby(['series_id']).tail(1)
df.rename(columns={'series_id':'fullcode'}, inplace=True)

# Take the date for use in chart title
date = df['date'].iloc[0].strftime('%B %Y')

# Combine the two datasets and show 2 rows to verify 
unemp_list = df.merge(MSA, on='fullcode')

In [4]:
# From the change in unemployment rate, mark increases red, decreases green,
#   no change is gray. The size of the circle to draw is the absolute value 
#   of the change times 8. Alaska and Hawaii are shifted (Alaska is also 
#   scaled down) and locations are otherwise mapped.

for index, row in unemp_list.iterrows():
    x, y = m(row['longitude'],row['latitude'])
    if row['value_ch'] > 0:
        unemp_list.loc[index,'color'] = 'Red'
        unemp_list.loc[index,'size'] = abs(row['value_ch'])*8
    if row['value_ch'] < 0:
        unemp_list.loc[index,'color'] = 'Limegreen'
        unemp_list.loc[index,'size'] = abs(row['value_ch'])*8
    if row['value_ch'] == 0:
        unemp_list.loc[index,'color'] = 'Lightgray'
        unemp_list.loc[index,'size'] = 0.5   # Just to mark location
    if row['fullname'][-2:] == 'AK':
        unemp_list.loc[index,'x'] = 0.35 * x + 1100000
        unemp_list.loc[index,'y'] = 0.35 * y - 1300000
    elif row['fullname'][-2:] == 'HI':
        unemp_list.loc[index,'x'] = x + 5200000
        unemp_list.loc[index,'y'] = y - 1400000
    else:
        unemp_list.loc[index,'x'] = x
        unemp_list.loc[index,'y'] = y

### Mapping the values

The second part involves mapping the data. There are three map/shape files located in the same folder as the ipynb, which are read by the basemap package as U.S. states. To include Alaska and Hawaii, the values for these two states are transformed. Alaska is scaled down to 35 percent of it's actual size and moved, with Hawaii to fit underneath the continental U.S.

In [1]:
plt.gcf()
fig = plt.figure(figsize=(12,6))

# Read the shapefile contained in the same folder (and the two related files)
m.readshapefile('st99_d00', 'states', drawbounds=True, color='grey')
ax = plt.gca()

# Thanks to stackexchange for this solution to include Alaska and Hawaii
for i, shapedict in enumerate(m.states_info):
    # Translate the noncontiguous states:
    if shapedict['NAME'] in ['Alaska', 'Hawaii']:
        seg = m.states[int(shapedict['SHAPENUM'] - 1)]
        # Only include the 8 main islands of Hawaii 
        if shapedict['NAME'] == 'Hawaii' and float(shapedict['AREA']) > 0.005:
            seg = list(map(lambda (x,y): (x + 5200000, y-1400000), seg))
        # Alaska is large. Rescale it.
        elif shapedict['NAME'] == 'Alaska':
            seg = list(map(lambda (x,y): (0.35*x + 1100000, 0.35*y-1300000), seg))
        poly = Polygon(seg, facecolor='white', edgecolor='gray', linewidth=.5)
        ax.add_patch(poly)

# Plot each location, value, and color as identified in the previous section        
for index, row in unemp_list.iterrows():
    m.plot(row['x'], row['y'], marker='o', color=row['color'], alpha=0.5, 
           markersize = row['size'], markeredgecolor='Black', markeredgewidth=.25)

ax.axis('off')    # Remove default border
plt.title('One-year Change in Unemployment Rate, as of ' + date)
plt.annotate('Data Source: U.S. Bureau of Labor Statistics, Local Area Unemployment Statistics; \n' \
             'Code: https://github.com/bdecon/Python/tree/master/Unemp_Map',
             (0,0), (0, 0), fontsize=9, xycoords='axes fraction', textcoords='offset points', va='top')

# Legend 
l1 = plt.scatter([],[], marker='o',color='Limegreen', alpha=0.5, 
              s = 65, edgecolors='Black', linewidth=.25)
l2 = plt.scatter([],[], marker='o',color='Red', alpha=0.5, 
              s = 65, edgecolors='Black', linewidth=.25)

labels = ["$-$1%", "+1%"]

leg = plt.legend([l1, l2], labels, ncol=1, frameon=False, fontsize=8,
    handlelength=2, loc = 4, borderpad = 1.8,
    handletextpad=1, title='Legend', scatterpoints = 1)
plt.savefig('C:/Working/bdecon.github.io/Dash/unemp_map.png', bbox_inches='tight', dpi=200)
plt.show()

NameError: name 'plt' is not defined

In [6]:
# generate html table with data
table = unemp_list[['area_code', 'value', 'value_ch']]
table.columns = ['Metropolitan Area Name', 'Unemp. rate', 'One-year change']
table = table.sort_values('One-year change') 
# Sortable css class allows for js script to sort each column
# https://www.kryogenix.org/code/browser/sorttable/
table.to_html('C:/Working/bdecon.github.io/Dash/unemp_table.html', border=0, 
              index=False, classes='sortable')

In [7]:
table

,Metropolitan Area Name,Unemp. rate,One-year change
29,"El Centro, CA Metropolitan Statistical Area",19.2,-4.2
219,"Ocean City, NJ Metropolitan Statistical Area",9.1,-2.7
57,"Grand Junction, CO Metropolitan Statistical Area",3.2,-2.7
133,"Michigan City-La Porte, IN Metropolitan Statis...",3.6,-2.4
389,"Casper, WY Metropolitan Statistical Area",5.5,-2.3
371,"Beckley, WV Metropolitan Statistical Area",5.6,-2.1
136,"Terre Haute, IN Metropolitan Statistical Area",3.4,-2.1
124,"Bloomington, IN Metropolitan Statistical Area",2.7,-2.1
275,"Grants Pass, OR Metropolitan Statistical Area",4.7,-2.1
221,"Vineland-Bridgeton, NJ Metropolitan Statistica...",5.7,-2.1
59,"Pueblo, CO Metropolitan Statistical Area",3.2,-2.0
134,"Muncie, IN Metropolitan Statistical Area",3.2,-2.0
20,"Yuma, AZ Metropolitan Statistical Area",16.3,-2.0
131,"Kokomo, IN Metropolitan Statistical Area",2.8,-1.9
376,"Wheeling, WV-OH Metropolitan Statistical Area",5.6,-1.8
128,"Fort Wayne, IN Metropolitan Statistical Area",2.5,-1.8
271,"Albany, OR Metropolitan Statistical Area",4.1,-1.7
276,"Medford, OR Metropolitan Statistical Area",4.3,-1.7
116,"Chicago-Naperville-Elgin, IL-IN-WI Metropolita...",4.2,-1.7
58,"Greeley, CO Metropolitan Statistical Area",2.1,-1.7
266,"Weirton-Steubenville, WV-OH Metropolitan Stati...",6.4,-1.7
369,"Wenatchee, WA Metropolitan Statistical Area",5.3,-1.6
135,"South Bend-Mishawaka, IN-MI Metropolitan Stati...",2.8,-1.6
132,"Lafayette-West Lafayette, IN Metropolitan Stat...",2.3,-1.6
126,"Elkhart-Goshen, IN Metropolitan Statistical Area",1.9,-1.6
336,"Odessa, TX Metropolitan Statistical Area",4.9,-1.6
129,"Indianapolis-Carmel-Anderson, IN Metropolitan ...",2.5,-1.6
130,"Indianapolis-Carmel-Anderson, IN Metropolitan ...",2.5,-1.6
54,"Colorado Springs, CO Metropolitan Statistical ...",2.5,-1.5
212,"Carson City, NV Metropolitan Statistical Area",5.0,-1.5
...,...,...,...
339,"Sherman-Denison, TX Metropolitan Statistical Area",3.7,0.1
332,"Longview, TX Metropolitan Statistical Area",5.7,0.1
327,"Dallas-Fort Worth-Arlington, TX Metropolitan S...",3.8,0.2
320,"Abilene, TX Metropolitan Statistical Area",3.8,0.2
225,"Santa Fe, NM Metropolitan Statistical Area",5.0,0.2
338,"San Antonio-New Braunfels, TX Metropolitan Sta...",3.6,0.2
173,"Pittsfield, MA Metropolitan NECTA",5.0,0.2
333,"Lubbock, TX Metropolitan Statistical Area",3.2,0.2
330,"Killeen-Temple, TX Metropolitan Statistical Area",4.3,0.2
148,"Bowling Green, KY Metropolitan Statistical Area",4.0,0.2
343,"Waco, TX Metropolitan Statistical Area",3.9,0.3
265,"Toledo, OH Metropolitan Statistical Area",4.8,0.3
321,"Amarillo, TX Metropolitan Statistical Area",3.0,0.3
328,"El Paso, TX Metropolitan Statistical Area",4.8,0.3
152,"Owensboro, KY Metropolitan Statistical Area",4.5,0.3
13,"Fairbanks, AK Metropolitan Statistical Area",6.1,0.3
322,"Austin-Round Rock, TX Metropolitan Statistical...",3.2,0.3
150,"Lexington-Fayette, KY Metropolitan Statistical...",3.7,0.3
66,"Dover, DE Metropolitan Statistical Area",4.9,0.3
12,"Anchorage, AK Metropolitan Statistical Area",6.4,0.4
259,"Cleveland-Elyria, OH Metropolitan Statistical ...",5.4,0.4
153,"Alexandria, LA Metropolitan Statistical Area",6.1,0.5
329,"Houston-The Woodlands-Sugar Land, TX Metropoli...",5.3,0.5
340,"Texarkana, TX-AR Metropolitan Statistical Area",4.4,0.5
122,"Rockford, IL Metropolitan Statistical Area",6.9,0.6
149,"Elizabethtown-Fort Knox, KY Metropolitan Stati...",4.7,0.6
324,"Brownsville-Harlingen, TX Metropolitan Statist...",7.5,0.7
326,"Corpus Christi, TX Metropolitan Statistical Area",6.2,0.7
334,"McAllen-Edinburg-Mission, TX Metropolitan Stat...",8.0,0.7
323,"Beaumont-Port Arthur, TX Metropolitan Statisti...",7.4,1.2