### Read the GDP release with Python

In [1]:
import requests
import pandas as pd
import config   ## File with API key

def write_txt(filename, filetext):
    '''Write label to txt file'''
    with open(filename, 'w') as text_file:
        text_file.write(filetext)

In [2]:
# Components of request
base = f'https://www.bea.gov/api/data/?&UserID={config.bea_key}'
dset = '&method=GetData&datasetname=NIPA'
tbl = [('T10102', ['A191RL', 'DPCERY', 'A006RY', 'A019RY', 'A822RY']),
       ('T50302', ['A008RZ', 'B009RZ', 'Y033RZ', 'Y001RZ']),
       ('T20306', ['DPCERX', 'DDURRX', 'DNDGRX', 'DSERRX', 'DHUTRX'])]
       #('T50100', ['W170RC', 'W988RC', 'W987RC', 'A782RC']),
       #('T10106', ['A191RX', 'RPCERX', 'A005RX', 'A019RX', 'A822RX'])]
freq = '&Frequency=Q'
year = '&Year=ALL' # {",".join([str(i) for i in range(2005,2018)])}
fmt = '&ResultFormat=json'

s1,s2,s3,s4 = '\scriptsize{','}\\\\\scriptsize{','}\\\\\\textbf{','}'

In [3]:
for t in tbl:
    # Build url from components
    url = f'{base}{dset}&TableName={t[0]}{freq}{year}{fmt}'
    # Request data
    full_table = requests.get(url).json()['BEAAPI']['Results']['Data']
    r = [s for s in full_table if s['SeriesCode'] in t[1]]
    idx1 = [pd.to_datetime(i['TimePeriod']) for i in r]
    idx2 = [i['SeriesCode'] for i in r]
    df = pd.DataFrame(r, index=[idx1, idx2], columns=['DataValue']).unstack(1)['DataValue']
    
    # Break out PCE
    if t[0] == 'T20306':
        df = pd.DataFrame(
            [df[col].str.replace(',','').astype(float) 
             for col in df]).T
        df['DSEREXHUT'] = df['DSERRX'] - df['DHUTRX']
        dft = df.diff()
        dft = dft.div(dft['DPCERX'], axis=0)
        df = dft.multiply((((df['DPCERX'].pct_change() + 1) ** 4) - 1) * 100, axis=0)
    
    df.loc['2000-01-01':].to_csv(f'{t[0]}.csv', index_label='DATE')

    # Write chart label to txt
    lt_dt = r[-1]['TimePeriod']
    lt_val = round(float(df[t[1][0]].iloc[-1:][0]), 1)
    lbl = f'{s1}{lt_dt[:4]}{s2}{lt_dt[4:]}{s3}{lt_val}{s4}'
    write_txt(f'{t[0]}.txt', lbl)

In [4]:
df

              DDURRX    DHUTRX    DNDGRX    DPCERX    DSERRX  DSEREXHUT
1999-01-01       NaN       NaN       NaN       NaN       NaN        NaN
1999-04-01  1.704514  0.798550  0.888303  6.057136  2.794709   1.996159
1999-07-01  0.877552  0.849135  0.437513  4.617460  3.091322   2.242188
1999-10-01  0.446329  0.007269  1.922014  6.007065  3.725163   3.717895
2000-01-01  2.075109  0.421025 -0.832097  6.226154  4.298091   3.877066
2000-04-01 -0.708735  1.087688  1.831184  3.896078  3.351428   2.263740
2000-07-01  0.633350  0.726431  0.611689  3.946933  2.592342   1.865912
2000-10-01  0.259775  1.292308  0.890304  3.609992  2.500987   1.208679
2001-01-01  0.611462  0.412484 -0.549023  1.700810  1.442503   1.030019
2001-04-01 -0.032676 -0.081521  0.423871  1.030862  0.683927   0.765448
2001-07-01  0.430178  0.321199  0.422029  1.470060  0.480135   0.158936
2001-10-01  3.201773 -0.067906  0.786375  6.252137  1.130112   1.198019
2002-01-01 -0.494359 -0.009408  0.334568  1.203018  1.660076   1.669484
2002-04-01  0.390140  0.326779  0.045913  2.059073  1.571339   1.244560
2002-07-01  1.174651  0.132330  0.222815  2.826683  1.084780   0.952449
2002-10-01 -0.564279  0.473052  1.174265  2.164300  1.835238   1.362186
2003-01-01  0.122591  0.162650  0.622515  1.771970  1.019855   0.857206
2003-04-01  1.852622  0.231689  0.668923  4.527334  1.536436   1.304748
2003-07-01  1.871867  0.106951  1.702343  6.028968  2.068501   1.961550
2003-10-01  0.548308  0.554147  0.632238  3.142990  1.906808   1.352661
2004-01-01  0.715078  0.485624  0.691740  3.946624  2.477498   1.991874
2004-04-01  0.421300  0.543809  0.280985  2.622156  1.899490   1.355681
2004-07-01  0.849975  0.432389  0.704914  3.879534  2.230375   1.797986
2004-10-01  0.622328  0.968055  0.819604  4.167674  2.695683   1.727628
2005-01-01  0.465626  0.801219  1.163199  3.093126  1.432626   0.631408
2005-04-01  1.257953  0.924766  0.396878  4.417247  2.606603   1.681837
2005-07-01  0.509068  0.845143  0.200266  3.139162  2.409618   1.564475
2005-10-01 -1.195773  0.256042  1.522907  1.515269  1.404350   1.148308
2006-01-01  1.797313 -0.188267  0.756325  4.561287  1.796467   1.984734
2006-04-01 -0.049566  0.860807  0.299134  2.146735  1.942629   1.081822
...              ...       ...       ...       ...       ...        ...
2010-10-01  1.358167  0.417646  1.149001  4.159264  1.681724   1.264078
2011-01-01  0.569517  0.058038  0.421211  2.021655  1.044366   0.986328
2011-04-01 -0.296632  0.239536  0.019752  0.807080  1.070178   0.830641
2011-07-01  0.566154  0.509720 -0.230025  1.752341  1.470837   0.961117
2011-10-01  1.286107 -0.213400  0.102673  1.350580  0.042969   0.256369
2012-01-01  1.264569 -0.622738  0.450045  2.435280  0.794532   1.417270
2012-04-01  0.319570  0.678937  0.078086  0.680328  0.306009  -0.372929
2012-07-01  0.777752  0.229675  0.201516  1.061814  0.144658  -0.085018
2012-10-01  0.940678 -0.461592 -0.067279  1.120745  0.348419   0.810012
2013-01-01  1.174584  0.329138  0.809338  1.891974 -0.005318  -0.334456
2013-04-01  0.259143  0.036753  0.192705  0.826330  0.395075   0.358322
2013-07-01  0.498354 -0.170367  0.528630  1.883410  0.888348   1.058715
2013-10-01  0.610511  0.508638  0.781117  3.413152  2.048037   1.539399
2014-01-01  0.682311  0.878234  0.198228  1.933234  1.120975   0.242741
2014-04-01  1.612213 -0.416990  0.647759  3.469151  1.399029   1.816018
2014-07-01  0.980012 -0.044322  0.652778  3.934434  2.390777   2.435099
2014-10-01  1.067224  0.752831  0.983182  5.056092  3.089915   2.337083
2015-01-01  1.004161  0.736069  0.533100  3.673223  2.238933   1.502864
2015-04-01  1.115291 -0.147668  0.543093  2.999839  1.484732   1.632399
2015-07-01  0.667574  0.345664  0.866357  2.757685  1.299625   0.953960
2015-10-01  0.561416 -0.008612  0.472755  2.669711  1.679924   1.688537
2016-01-01  0.135614  0.284535  0.571264  1.814655  1.098008   0.813473
2016-04-01  1.127670  0.500398  1.026632  3.803698  1.811476   1.311078
2016-07-01  1.251407  0.377128  0.012997  2.815586  1.722493   1.345365
2016-10-01  1.252155 -0.159543  0.532019  2.924330  1.353680   1.513223
2017-01-01 -0.019107 -0.061591  0.240856  1.925193  1.626430   1.688021
2017-04-01  1.049531  0.583922  0.908182  3.268353  1.493412   0.909490
2017-07-01  1.192928 -0.002756  0.507707  2.164254  0.715873   0.718628
2017-10-01  1.898899  0.357613  1.038086  4.042600  1.506567   1.148954
2018-01-01 -0.380873  0.025423  0.093450  1.023445  1.154895   1.129473

[77 rows x 6 columns]

In [41]:
df.iloc[-5]

DDURRX       1.252155
DHUTRX      -0.159543
DNDGRX       0.532019
DPCERX       2.924330
DSERRX       1.353680
DSEREXHUT    1.513223
Name: 2016-10-01 00:00:00, dtype: float64

In [22]:
r[-1]['TimePeriod']

'2017Q4'

In [24]:
df['DSEREXHUT'] = df['DSERRX'] - df['DHUTRX']
dft = df.diff()
dft = dft.div(dft['DPCERX'], axis=0)

In [35]:
dft.multiply((((df['DPCERX'].pct_change() + 1) ** 4) - 1) * 100, axis=0)

              DDURRX    DHUTRX    DNDGRX    DPCERX    DSERRX  DSEREXHUT
1999-01-01       NaN       NaN       NaN       NaN       NaN        NaN
1999-04-01  1.704514  0.798550  0.888303  6.057136  2.794709   1.996159
1999-07-01  0.877552  0.849135  0.437513  4.617460  3.091322   2.242188
1999-10-01  0.446329  0.007269  1.922014  6.007065  3.725163   3.717895
2000-01-01  2.075109  0.421025 -0.832097  6.226154  4.298091   3.877066
2000-04-01 -0.708735  1.087688  1.831184  3.896078  3.351428   2.263740
2000-07-01  0.633350  0.726431  0.611689  3.946933  2.592342   1.865912
2000-10-01  0.259775  1.292308  0.890304  3.609992  2.500987   1.208679
2001-01-01  0.611462  0.412484 -0.549023  1.700810  1.442503   1.030019
2001-04-01 -0.032676 -0.081521  0.423871  1.030862  0.683927   0.765448
2001-07-01  0.430178  0.321199  0.422029  1.470060  0.480135   0.158936
2001-10-01  3.201773 -0.067906  0.786375  6.252137  1.130112   1.198019
2002-01-01 -0.494359 -0.009408  0.334568  1.203018  1.660076   1.669484
2002-04-01  0.390140  0.326779  0.045913  2.059073  1.571339   1.244560
2002-07-01  1.174651  0.132330  0.222815  2.826683  1.084780   0.952449
2002-10-01 -0.564279  0.473052  1.174265  2.164300  1.835238   1.362186
2003-01-01  0.122591  0.162650  0.622515  1.771970  1.019855   0.857206
2003-04-01  1.852622  0.231689  0.668923  4.527334  1.536436   1.304748
2003-07-01  1.871867  0.106951  1.702343  6.028968  2.068501   1.961550
2003-10-01  0.548308  0.554147  0.632238  3.142990  1.906808   1.352661
2004-01-01  0.715078  0.485624  0.691740  3.946624  2.477498   1.991874
2004-04-01  0.421300  0.543809  0.280985  2.622156  1.899490   1.355681
2004-07-01  0.849975  0.432389  0.704914  3.879534  2.230375   1.797986
2004-10-01  0.622328  0.968055  0.819604  4.167674  2.695683   1.727628
2005-01-01  0.465626  0.801219  1.163199  3.093126  1.432626   0.631408
2005-04-01  1.257953  0.924766  0.396878  4.417247  2.606603   1.681837
2005-07-01  0.509068  0.845143  0.200266  3.139162  2.409618   1.564475
2005-10-01 -1.195773  0.256042  1.522907  1.515269  1.404350   1.148308
2006-01-01  1.797313 -0.188267  0.756325  4.561287  1.796467   1.984734
2006-04-01 -0.049566  0.860807  0.299134  2.146735  1.942629   1.081822
...              ...       ...       ...       ...       ...        ...
2010-07-01  0.705362  0.402631  0.561914  2.613405  1.359056   0.956425
2010-10-01  1.358167  0.417646  1.149001  4.159264  1.681724   1.264078
2011-01-01  0.569517  0.058038  0.421211  2.021655  1.044366   0.986328
2011-04-01 -0.296632  0.239536  0.019752  0.807080  1.070178   0.830641
2011-07-01  0.566154  0.509720 -0.230025  1.752341  1.470837   0.961117
2011-10-01  1.286107 -0.213400  0.102673  1.350580  0.042969   0.256369
2012-01-01  1.264569 -0.622738  0.450045  2.435280  0.794532   1.417270
2012-04-01  0.319570  0.678937  0.078086  0.680328  0.306009  -0.372929
2012-07-01  0.777752  0.229675  0.201516  1.061814  0.144658  -0.085018
2012-10-01  0.940678 -0.461592 -0.067279  1.120745  0.348419   0.810012
2013-01-01  1.174584  0.329138  0.809338  1.891974 -0.005318  -0.334456
2013-04-01  0.259143  0.036753  0.192705  0.826330  0.395075   0.358322
2013-07-01  0.498354 -0.170367  0.528630  1.883410  0.888348   1.058715
2013-10-01  0.610511  0.508638  0.781117  3.413152  2.048037   1.539399
2014-01-01  0.682311  0.878234  0.198228  1.933234  1.120975   0.242741
2014-04-01  1.612213 -0.416990  0.647759  3.469151  1.399029   1.816018
2014-07-01  0.980012 -0.044322  0.652778  3.934434  2.390777   2.435099
2014-10-01  1.067224  0.752831  0.983182  5.056092  3.089915   2.337083
2015-01-01  1.004161  0.736069  0.533100  3.673223  2.238933   1.502864
2015-04-01  1.115291 -0.147668  0.543093  2.999839  1.484732   1.632399
2015-07-01  0.667574  0.345664  0.866357  2.757685  1.299625   0.953960
2015-10-01  0.561416 -0.008612  0.472755  2.669711  1.679924   1.688537
2016-01-01  0.135614  0.284535  0.571264  1.814655  1.098008   0.813473
2016-04-01  1.127670  0.500398  1.026632  3.803698  1.811476   1.311078
2016-07-01  1.251407  0.377128  0.012997  2.815586  1.722493   1.345365
2016-10-01  1.252155 -0.159543  0.532019  2.924330  1.353680   1.513223
2017-01-01 -0.019107 -0.061591  0.240856  1.925193  1.626430   1.688021
2017-04-01  1.049531  0.583922  0.908182  3.268353  1.493412   0.909490
2017-07-01  1.192928 -0.002756  0.507707  2.164254  0.715873   0.718628
2017-10-01  1.965237  0.353104  1.122185  3.795025  1.145843   0.792739

[76 rows x 6 columns]

In [16]:
dft = df['DataValue'].diff()

In [34]:
for col in df['DataValue'].keys():
    df['DataValue'][col] = df['DataValue'][col].str.replace(',','').astype(float)

In [42]:
df['DataValue'] = pd.DataFrame([df['DataValue'][col].str.replace(',','').astype(float) for col in df['DataValue'].keys()]).T

In [31]:
df['DataValue'][col].str.replace(',','').astype(float)

1999-01-01    5245389.0
1999-04-01    5297451.0
1999-07-01    5356195.0
1999-10-01    5427430.0
2000-01-01    5510763.0
2000-04-01    5577287.0
2000-07-01    5629228.0
2000-10-01    5679888.0
2001-01-01    5709575.0
2001-04-01    5723745.0
2001-07-01    5733702.0
2001-10-01    5756818.0
2002-01-01    5791933.0
2002-04-01    5825165.0
2002-07-01    5848159.0
2002-10-01    5887428.0
2003-01-01    5909399.0
2003-04-01    5942311.0
2003-07-01    5986872.0
2003-10-01    6028993.0
2004-01-01    6083984.0
2004-04-01    6126762.0
2004-07-01    6177086.0
2004-10-01    6238426.0
2005-01-01    6271489.0
2005-04-01    6331814.0
2005-07-01    6388449.0
2005-10-01    6421912.0
2006-01-01    6464403.0
2006-04-01    6511278.0
                ...
2010-07-01    6743979.0
2010-10-01    6785643.0
2011-01-01    6811987.0
2011-04-01    6839240.0
2011-07-01    6876640.0
2011-10-01    6877739.0
2012-01-01    6898047.0
2012-04-01    6905967.0
2012-07-01    6909712.0
2012-10-01    6918754.0
2013-01-01    6918616.0
2013-04-01    6928957.0
2013-07-01    6952166.0
2013-10-01    7005622.0
2014-01-01    7035288.0
2014-04-01    7072281.0
2014-07-01    7135931.0
2014-10-01    7218655.0
2015-01-01    7279645.0
2015-04-01    7320557.0
2015-07-01    7356666.0
2015-10-01    7403675.0
2016-01-01    7434701.0
2016-04-01    7485744.0
2016-07-01    7534912.0
2016-10-01    7573806.0
2017-01-01    7621048.0
2017-04-01    7664419.0
2017-07-01    7685462.0
2017-10-01    7719123.0
Name: DSERRX, Length: 76, dtype: float64

In [65]:
lt_dt = r[-1]['TimePeriod']
lt_val = round(float(df['DataValue']['A191RL'].iloc[-1:][0]), 2)

In [61]:
lt_dt

Timestamp('2017-10-01 00:00:00')

In [15]:
#df = df['DataValue']
df['DNHUSSER'] = df['DSERRX'].str.replace(',','').astype(float) - df['DHUTRX'].str.replace(',','').astype(float)

In [16]:
df

               DDURRX     DHUTRX     DNDGRX      DPCERX     DSERRX   DNHUSSER
1999-01-01    664,025  1,531,197  1,780,218   7,618,691  5,245,389  3714192.0
1999-04-01    695,778  1,546,073  1,796,766   7,731,528  5,297,451  3751378.0
1999-07-01    712,454  1,562,209  1,805,080   7,819,273  5,356,195  3793986.0
1999-10-01    720,989  1,562,348  1,841,834   7,934,144  5,427,430  3865082.0
2000-01-01    761,222  1,570,511  1,825,701   8,054,859  5,510,763  3940252.0
2000-04-01    747,154  1,592,101  1,862,049   8,132,194  5,577,287  3985186.0
2000-07-01    759,844  1,606,656  1,874,305   8,211,276  5,629,228  4022572.0
2000-10-01    765,106  1,632,833  1,892,339   8,284,400  5,679,888  4047055.0
2001-01-01    777,690  1,641,322  1,881,040   8,319,403  5,709,575  4068253.0
2001-04-01    777,013  1,639,633  1,889,822   8,340,761  5,723,745  4084112.0
2001-07-01    785,934  1,646,294  1,898,574   8,371,247  5,733,702  4087408.0
2001-10-01    851,425  1,644,905  1,914,659   8,499,132  5,756,818  4111913.0
2002-01-01    840,968  1,644,706  1,921,736   8,524,579  5,791,933  4147227.0
2002-04-01    849,219  1,651,617  1,922,707   8,568,126  5,825,165  4173548.0
2002-07-01    874,118  1,654,422  1,927,430   8,628,043  5,848,159  4193737.0
2002-10-01    862,044  1,664,544  1,952,556   8,674,353  5,887,428  4222884.0
2003-01-01    864,685  1,668,048  1,965,967   8,712,527  5,909,399  4241351.0
2003-04-01    904,370  1,673,011  1,980,296   8,809,507  5,942,311  4269300.0
2003-07-01    944,695  1,675,315  2,016,969   8,939,387  5,986,872  4311557.0
2003-10-01    956,807  1,687,556  2,030,935   9,008,815  6,028,993  4341437.0
2004-01-01    972,679  1,698,335  2,046,289   9,096,415  6,083,984  4385649.0
2004-04-01    982,167  1,710,582  2,052,617   9,155,468  6,126,762  4416180.0
2004-07-01  1,001,345  1,720,338  2,068,522   9,243,002  6,177,086  4456748.0
2004-10-01  1,015,506  1,742,366  2,087,172   9,337,837  6,238,426  4496060.0
2005-01-01  1,026,252  1,760,857  2,114,017   9,409,222  6,271,489  4510632.0
2005-04-01  1,055,365  1,782,259  2,123,202   9,511,451  6,331,814  4549555.0
2005-07-01  1,067,330  1,802,123  2,127,909   9,585,233  6,388,449  4586326.0
2005-10-01  1,038,837  1,808,224  2,164,197   9,621,339  6,421,912  4613688.0
2006-01-01  1,081,348  1,803,771  2,182,086   9,729,225  6,464,403  4660632.0
2006-04-01  1,080,152  1,824,542  2,189,304   9,781,025  6,511,278  4686736.0
...               ...        ...        ...         ...        ...        ...
2010-07-01  1,093,761  1,906,495  2,225,986  10,063,083  6,743,979  4837484.0
2010-10-01  1,127,409  1,916,842  2,254,452  10,166,127  6,785,643  4868801.0
2011-01-01  1,141,775  1,918,306  2,265,077  10,217,123  6,811,987  4893681.0
2011-04-01  1,134,221  1,924,406  2,265,580  10,237,676  6,839,240  4914834.0
2011-07-01  1,148,617  1,937,367  2,259,731  10,282,234  6,876,640  4939273.0
2011-10-01  1,181,511  1,931,909  2,262,357  10,316,777  6,877,739  4945830.0
2012-01-01  1,213,833  1,915,992  2,273,860  10,379,022  6,898,047  4982055.0
2012-04-01  1,222,104  1,933,564  2,275,881  10,396,630  6,905,967  4972403.0
2012-07-01  1,242,239  1,939,510  2,281,098  10,424,119  6,909,712  4970202.0
2012-10-01  1,266,651  1,927,531  2,279,352  10,453,204  6,918,754  4991223.0
2013-01-01  1,297,131  1,936,072  2,300,354  10,502,300  6,918,616  4982544.0
2013-04-01  1,303,914  1,937,034  2,305,398  10,523,929  6,928,957  4991923.0
2013-07-01  1,316,934  1,932,583  2,319,209  10,573,135  6,952,166  5019583.0
2013-10-01  1,332,869  1,945,859  2,339,597  10,662,222  7,005,622  5059763.0
2014-01-01  1,350,926  1,969,101  2,344,843  10,713,384  7,035,288  5066187.0
2014-04-01  1,393,556  1,958,075  2,361,971  10,805,115  7,072,281  5114206.0
2014-07-01  1,419,647  1,956,895  2,379,350  10,909,862  7,135,931  5179036.0
2014-10-01  1,448,219  1,977,050  2,405,672  11,045,225  7,218,655  5241605.0
2015-01-01  1,475,573  1,997,101  2,420,194  11,145,286  7,279,645  5282544.0
2015-04-01  1,506,305  1,993,032  2,435,159  11,227,947  7,320,557  5327525.0
2015-07-01  1,524,853  2,002,636  2,459,230  11,304,567  7,356,666  5354030.0
2015-10-01  1,540,563  2,002,395  2,472,459  11,379,273  7,403,675  5401280.0
2016-01-01  1,544,395  2,010,435  2,488,601  11,430,549  7,434,701  5424266.0
2016-04-01  1,576,170  2,024,535  2,517,529  11,537,728  7,485,744  5461209.0
2016-07-01  1,611,891  2,035,300  2,517,900  11,618,098  7,534,912  5499612.0
2016-10-01  1,647,868  2,030,716  2,533,186  11,702,120  7,573,806  5543090.0
2017-01-01  1,647,313  2,028,927  2,540,182  11,758,040  7,621,048  5592121.0
2017-04-01  1,677,793  2,045,885  2,566,557  11,852,958  7,664,419  5618534.0
2017-07-01  1,712,859  2,045,804  2,581,481  11,916,576  7,685,462  5639658.0
2017-10-01  1,770,591  2,056,177  2,614,447  12,028,061  7,719,123  5662946.0

[76 rows x 6 columns]

In [ ]:
f'{df.iloc[-1].name: %Y %}'#df.iloc[-1].name

In [ ]:
lt_date = r[-1]['TimePeriod']

s1, s2, s3, s4 = '\scriptsize{', '}\\\scriptsize{', '}\\\textbf{', '}'
lbl = f'{s1}{lt_date[:4]}{s2}{lt_date[4:]}{s3}{df["A191RL"][-1]}{s4}'

In [ ]:
lt_date[4:]

In [ ]:
lbl = f'{s1}{lt_date[:4]}{s2}{lt_date[4:]}{s3}{df["A191RL"][-1]}{s4}'

In [5]:
# Build url from components
url = f'{base}{dset}&TableName={tbl[0][0]}{freq}{year}{fmt}'

# Request data and and convert to pandas dataframe
r = requests.get(url).json()['BEAAPI']['Results']['Data']
dates = [pd.to_datetime(v['TimePeriod']) for v in r]
df = pd.DataFrame(r, index=[dates, 'SeriesCode'])
df = df[df['SeriesCode'].isin(tbl[0][1])].set_index(['date', 'SeriesCode'])
df = df['DataValue'].unstack(1).loc['2006-01-01':]
df.to_csv('gdp_comp.csv', index_label='DATE')

write_txt('gdp_comp.txt', df['A191RL'][-1]) # Write chart label to txt

ValueError: Shape of passed values is (9, 7384), indices imply (9, 2)

In [ ]:
# Build url from components
url = f'{base}{dset}&TableName={tbl[1][0]}{freq}{year}{fmt}'

# Request data and and convert to pandas dataframe
r = requests.get(url).json()['BEAAPI']['Results']['Data']
df = pd.DataFrame(r, index=[pd.to_datetime(v['TimePeriod']) for v in r])

In [ ]:
# Build url from components
url = f'{base}{dset}&TableName={tbl[3][0]}{freq}{year}{fmt}'

# Request data and and convert to pandas dataframe
r = requests.get(url).json()['BEAAPI']['Results']['Data']
df = pd.DataFrame(r, index=[pd.to_datetime(v['TimePeriod']) for v in r])

In [ ]:
df['2017-10-01']#['LineDescription'].unique()

In [ ]:
r = [x for x in r if x['SeriesCode'] in tbl[0][1]]
idx1 = [pd.to_datetime(i['TimePeriod']) for i in r]
idx2 = [i['SeriesCode'] for i in r]
df = pd.DataFrame(r, index=[idx1, idx2])['DataValue'].unstack(1)

In [ ]:
pd.DataFrame(r, index=[idx1, idx2])['DataValue'].unstack(1)

In [ ]:
df

In [ ]:
com = 'T10102'
inv = 'T50302'
gdi = 'T50100'

In [ ]:
url = '{}&datasetname={}&TableName={}&Frequency={}&Year={}&ResultFormat=json'.format(
    base, 'NIPA', 'T10105', 'Q', 'ALL')    # Adjust here as needed
df = pd.DataFrame(requests.get(url).json()['BEAAPI']['Results']['Data'])

In [ ]:
float(Y.replace(',', ''))

In [ ]:
(df[df['SeriesCode'] == 'A191RC'].set_index('TimePeriod')['DataValue'].str.replace(',', '').astype('float') * 1000).loc['2006-01-01':]

In [ ]:
[x for x in r if x['SeriesCode'] in tbl[0][1]]

In [ ]:
tbl[0][1]

In [ ]:
r

In [ ]:
import requests
import config   ## File with API key
bea_key = config.bea_key

# Components of request
base = 'https://www.bea.gov/api/data/?&UserID={}'.format(bea_key)
m = '&method=GetData'
dsn = '&datasetname=NIPA'
ind = '&TableId=2'
freq = '&Frequency=Q'
year = '&Year=LAST12'
fmt = '&ResultFormat=json'

# Combined url for request
url = '{}{}{}{}{}{}{}'.format(base, m, dsn, ind, freq, year, fmt)
r = requests.get(url).json()
#f = pd.DataFrame(r['BEAAPI']['Results']['Data'])

In [ ]:
r