# Data_Collector: Jobs Report
------

Updated: January 23, 2018

Status: Collects series, need to do calculations and export

Descr: Python code for reading the BLS jobs report on the first friday of the month, at 8:30am. [PDF release](https://www.bls.gov/news.release/pdf/empsit.pdf)

To Do: Text calculations. Make charts. combine charts and save as picture.

------

#### Packages - Run early

In [1]:
import sys # Check which version of python is being used
print(f'python {sys.version_info[0]}.{sys.version_info[1]}')
import pandas as pd    # Pandas to organize and make calcs
print(f'pandas {pd.__version__}')
from pandas_datareader.data import DataReader as pdr 
import requests        # Make requests to econ data APIs
import json            # Work with JSON data
import config          # Local file config.py with BLS API key

python 3.6
pandas 0.22.0

#### Define custom functions - run early

In [2]:
# Define some tools to use later in calculations
def pr(series):
    '''Multiply by 100 and round'''
    return (series * 100).round(1)

def agr(series):
    '''Calculate percent change from year ago'''
    return pr(series.pct_change(12))

def gr3(series):
    '''Calculate 3 month moving average and annualize'''
    return pr(((series.rolling(3).sum().pct_change(3) + 1) ** 4) - 1)

# Write text for chart annotations
def wt(filename, filetext):
    '''Write string to txt file'''
    with open(filename, 'w') as text_file:
        text_file.write(filetext)

#### Parameters - Inspect and run early

In [3]:
# API access to Bureau of Labor Statistics data
url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'
# API key in config.py which contains: bls_key = 'key'
key = '?registrationkey={}'.format(config.bls_key)
# Series of interest, format is: ('Fred ID', 'BLS ID')
#s = [('OPHNFB', 'PRS85006092')]
s = [('PAYEMS', 'CES0000000001'), ('UNRATE', 'LNS14000000'), 
     ('U6RATE', 'LNS13327709'), ('LNS12300060', 'LNS12300060'), 
     ('AHETPI', 'CES0500000008'), ('LNS12032197', 'LNS12032197'), 
     ('LNS12032200', 'LNS12032200'), ('LNS12035019', 'LNS12035019'),
     ('LNS13025703', 'LNS13025703')]

headers = {'Content-type': 'application/json'}    # Request json fmt
param = {"seriesid": [i[1] for i in s],           
         "startyear": "2016", "endyear": "2018"}  # Update for 2018

#### Use BLS text table with series info to collect the name of each series in s - run early

In [4]:
d = {}    # Dictionary to fill with series names
for i in ['ln', 'ce']:
    url2 = f'https://download.bls.gov/pub/time.series/{i}/{i}.series'
    t = pd.read_table(url2, sep=r'\s*\t', engine='python')
    t = t[t['series_id'].isin([i[1] for i in s])].set_index('series_id')['series_title']
    for k, v in t.items(): d[k] = v

#### Get long-term values from FRED - Inspect and run early

In [5]:
# Start and end date in datetime format
rng = pd.to_datetime(['1973-01-01', '2015-12-31', '2017-12-31'])
dft = pdr([i[0] for i in s], 'fred', rng[0], rng[1])
dft.columns = [i[1] for i in s]  # Rename to match with BLS

#### Request Jobs Report data from BLS API - run at 8:31

In [9]:
# Request all of the series in s
p = requests.post(f'{url}{key}', data=json.dumps(param), headers=headers).json()
print(f"Status: {p['status']}") # Print request status
p = p['Results']['series']  # Keep data portion of post results

# Use first series to get the datetime values
idx = pd.to_datetime([f"{i['period'][1:]} {i['year']}" for i in p[0]['data']])
print(f'Latest: {idx[0]:%B %Y}') # Print latest value

Status: REQUEST_SUCCEEDED
Latest: February 2018

In [16]:
idx

DatetimeIndex(['2018-02-01', '2018-01-01', '2017-12-01', '2017-11-01',
               '2017-10-01', '2017-09-01', '2017-08-01', '2017-07-01',
               '2017-06-01', '2017-05-01', '2017-04-01', '2017-03-01',
               '2017-02-01', '2017-01-01', '2016-12-01', '2016-11-01',
               '2016-10-01', '2016-09-01', '2016-08-01', '2016-07-01',
               '2016-06-01', '2016-05-01', '2016-04-01', '2016-03-01',
               '2016-02-01', '2016-01-01'],
              dtype='datetime64[ns]', freq=None)

#### Clean up and make calculations for series of interest

In [11]:
# Build empty dataframe df from the API results, p
df = pd.DataFrame()
for s in p: df[s['seriesID']] = pd.Series(index = idx, 
    data = [i['value'] for i in s['data']], dtype='float').iloc[::-1]
df = dft.append(df) # Merge previous data with new BLS data

# Calculate indicators of interest (pr, gr3, agr defined above)
df['ptec'] = pr(df['LNS12032197'] / df['LNS12035019']) #PT economic
df['ptnec'] = pr(df['LNS12032200'] / df['LNS12035019']) #PT non-econ
df['payroll'] = df['CES0000000001'].diff() # Payroll growth
df['ahe'] = gr3(df['CES0500000008'])     # AHE 3m/3m annualized
df['ahe2'] = agr(df['CES0500000008'])    # AHE 12m pct change
df['cpi'] = agr(pdr('CPIAUCSL', 'fred', rng[0], rng[2]))  # CPI

In [17]:
df

,CES0000000001,CES0500000008,LNS12032197,LNS12032200,LNS12035019,LNS12300060,LNS13025703,LNS13327709,LNS14000000,ptec,ptnec,payroll,ahe,ahe2,cpi
1973-01-01,75621.0,4.03,2043.0,9701.0,79705.0,69.7,9.5,NaN,4.9,2.6,12.2,NaN,NaN,NaN,NaN
1973-02-01,76017.0,4.04,2182.0,10202.0,80497.0,70.1,8.4,NaN,5.0,2.7,12.7,396.0,NaN,NaN,NaN
1973-03-01,76285.0,4.06,2172.0,10303.0,80983.0,70.2,8.9,NaN,4.9,2.7,12.7,268.0,NaN,NaN,NaN
1973-04-01,76455.0,4.08,2150.0,10462.0,81152.0,70.3,7.5,NaN,5.0,2.6,12.9,170.0,NaN,NaN,NaN
1973-05-01,76646.0,4.10,2216.0,10412.0,81272.0,70.4,8.0,NaN,4.9,2.7,12.8,191.0,NaN,NaN,NaN
1973-06-01,76887.0,4.12,2543.0,10094.0,81676.0,70.5,7.5,NaN,4.9,3.1,12.4,241.0,5.7,NaN,NaN
1973-07-01,76911.0,4.15,2490.0,9915.0,81759.0,70.7,6.5,NaN,4.8,3.0,12.1,24.0,6.4,NaN,NaN
1973-08-01,77166.0,4.16,2444.0,10287.0,81779.0,70.5,7.7,NaN,4.8,3.0,12.6,255.0,6.4,NaN,NaN
1973-09-01,77276.0,4.19,2424.0,10620.0,82146.0,70.7,6.8,NaN,4.8,3.0,12.9,110.0,6.7,NaN,NaN
1973-10-01,77606.0,4.21,2424.0,10738.0,82563.0,70.9,8.0,NaN,4.6,2.9,13.0,330.0,6.3,NaN,NaN
1973-11-01,77912.0,4.23,2437.0,10695.0,82727.0,71.0,8.0,NaN,4.8,2.9,12.9,306.0,6.6,NaN,NaN
1973-12-01,78035.0,4.25,2571.0,10836.0,82743.0,70.9,7.4,NaN,4.9,3.1,13.1,123.0,6.2,NaN,NaN
1974-01-01,78104.0,4.26,2525.0,10559.0,82799.0,71.1,7.2,NaN,5.1,3.0,12.8,69.0,5.9,5.7,9.6
1974-02-01,78254.0,4.29,2673.0,10623.0,82930.0,71.0,7.1,NaN,5.2,3.2,12.8,150.0,5.5,6.2,10.0
1974-03-01,78296.0,4.31,2472.0,10678.0,83093.0,70.9,7.1,NaN,5.1,3.0,12.9,42.0,5.5,6.2,10.1
1974-04-01,78382.0,4.34,2377.0,10112.0,83087.0,70.7,7.6,NaN,5.1,2.9,12.2,86.0,6.4,6.4,10.1
1974-05-01,78547.0,4.39,2667.0,10613.0,83362.0,71.0,7.5,NaN,5.1,3.2,12.7,165.0,7.7,7.1,10.7
1974-06-01,78602.0,4.43,2577.0,10697.0,83555.0,71.0,7.4,NaN,5.4,3.1,12.8,55.0,9.7,7.5,10.9
1974-07-01,78635.0,4.45,2610.0,10840.0,83713.0,71.2,7.7,NaN,5.5,3.1,12.9,33.0,10.6,7.2,11.5
1974-08-01,78619.0,4.49,2745.0,10605.0,83608.0,71.0,7.7,NaN,5.5,3.3,12.7,-16.0,10.5,7.9,10.9
1974-09-01,78611.0,4.53,2917.0,10510.0,83591.0,70.8,7.2,NaN,5.9,3.5,12.6,-8.0,9.8,8.1,11.9
1974-10-01,78629.0,4.56,2975.0,10575.0,83564.0,70.7,7.2,NaN,6.0,3.6,12.7,18.0,9.7,8.3,11.8
1974-11-01,78261.0,4.57,3229.0,10615.0,83221.0,70.4,7.1,NaN,6.6,3.9,12.8,-368.0,9.0,8.0,12.2
1974-12-01,77657.0,4.61,3347.0,10586.0,82783.0,70.0,8.1,NaN,7.2,4.0,12.8,-604.0,8.3,8.5,12.1
1975-01-01,77297.0,4.61,3716.0,10637.0,82226.0,69.4,8.3,NaN,8.1,4.5,12.9,-360.0,6.3,8.2,11.8
1975-02-01,76919.0,4.63,3655.0,10512.0,81895.0,69.1,9.7,NaN,8.1,4.5,12.8,-378.0,5.7,7.9,11.2
1975-03-01,76649.0,4.66,3789.0,10543.0,81829.0,69.0,9.7,NaN,8.6,4.6,12.9,-270.0,4.7,8.1,10.5
1975-04-01,76461.0,4.66,3827.0,10749.0,81874.0,69.0,11.9,NaN,8.8,4.7,13.1,-188.0,4.7,7.4,10.2
1975-05-01,76623.0,4.68,3714.0,10500.0,81891.0,68.9,13.0,NaN,9.0,4.5,12.8,162.0,4.4,6.6,9.3
1975-06-01,76520.0,4.72,3514.0,11062.0,81987.0,69.1,15.8,NaN,8.8,4.3,13.5,-103.0,4.7,6.5,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-09-01,142244.0,21.10,5932.0,19699.0,146559.0,77.2,26.6,10.0,5.0,4.0,13.4,88.0,2.0,2.0,0.0
2015-10-01,142595.0,21.20,5747.0,19862.0,146827.0,77.2,26.9,9.8,5.0,3.9,13.5,351.0,2.4,2.4,0.1
2015-11-01,142859.0,21.21,6048.0,19726.0,147174.0,77.4,25.9,9.9,5.0,4.1,13.4,264.0,2.4,2.1,0.4
2015-12-01,143093.0,21.25,5901.0,19880.0,147676.0,77.4,26.8,9.9,5.0,4.0,13.5,234.0,2.7,2.5,0.7
2016-01-01,143196.0,21.31,5828.0,20029.0,148097.0,77.7,26.6,9.9,4.9,3.9,13.5,103.0,2.4,2.4,1.3
2016-02-01,143453.0,21.34,5942.0,20281.0,148495.0,77.8,27.5,9.7,4.9,4.0,13.7,257.0,2.5,2.4,1.0
2016-03-01,143688.0,21.41,6017.0,20126.0,148460.0,78.0,27.7,9.8,5.0,4.1,13.6,235.0,2.5,2.5,0.9
2016-04-01,143862.0,21.46,5946.0,20196.0,148427.0,77.8,25.8,9.8,5.0,4.0,13.6,174.0,2.8,2.6,1.1
2016-05-01,143896.0,21.48,6418.0,20169.0,148591.0,77.8,25.1,9.8,4.7,4.3,13.6,34.0,2.8,2.3,1.0
2016-06-01,144181.0,21.52,5652.0,20227.0,148713.0,77.9,26.1,9.5,4.9,3.8,13.6,285.0,2.5,2.4,1.0
2016-07-01,144506.0,21.58,5798.0,20287.0,149032.0,77.9,25.8,9.7,4.9,3.9,13.6,325.0,2.3,2.6,0.9
2016-08-01,144681.0,21.61,5846.0,20108.0,149221.0,77.8,26.0,9.6,4.9,3.9,13.5,175.0,2.3,2.4,1.1
2016-09-01,144945.0,21.64,5790.0,20345.0,149406.0,78.0,24.7,9.7,5.0,3.9,13.6,264.0,2.3,2.6,1.5
2016-10-01,145085.0,21.70,5853.0,20439.0,149584.0,78.2,25.3,9.6,4.9,3.9,13.7,140.0,2.3,2.4,1.6
2016-11-01,145257.0,21.72,5610.0,20676.0,149761.0,78.1,24.9,9.3,4.6,3.7,13.8,172.0,2.2,2.4,1.7
2016-12-01,145437.0,21.78,5415.0,20860.0,149854.0,78.1,24.7,9.1,4.7,3.6,13.9,180.0,2.3,2.5,2.1
2017-01-01,145696.0,21.81,5717.0,20076.0,149633.0,78.2,24.1,9.4,4.8,3.8,13.4,259.0,2.2,2.3,2.5
2017-02-01,145896.0,21.85,5625.0,20447.0,150049.0,78.4,23.5,9.2,4.7,3.7,13.6,200.0,2.4,2.4,2.8
2017-03-01,145969.0,21.89,5470.0,20343.0,150407.0,78.5,23.4,8.8,4.5,3.6,13.5,73.0,2.2,2.2,2.4
2017-04-01,146144.0,21.94,5243.0,20010.0,150515.0,78.6,22.8,8.6,4.4,3.5,13.3,175.0,2.3,2.2,2.2
2017-05-01,146299.0,21.98,5202.0,20703.0,150516.0,78.4,24.2,8.4,4.3,3.5,13.8,155.0,2.3,2.3,1.9
2017-06-01,146538.0,22.02,5210.0,20423.0,150878.0,78.6,24.9,8.5,4.3,3.5,13.5,239.0,2.4,2.3,1.6
2017-07-01,146728.0,22.06,5176.0,21027.0,151118.0,78.6,25.4,8.5,4.3,3.4,13.9,190.0,2.3,2.2,1.7
2017-08-01,146949.0,22.11,5125.0,21133.0,151175.0,78.4,24.7,8.6,4.4,3.4,14.0,221.0,2.3,2.3,2.0
2017-09-01,146963.0,22.20,5048.0,20619.0,151942.0,78.9,25.5,8.3,4.2,3.3,13.6,14.0,2.6,2.6,2.2
2017-10-01,147234.0,22.18,4799.0,20552.0,151334.0,78.9,25.0,8.0,4.1,3.2,13.6,271.0,2.6,2.2,2.0
2017-11-01,147450.0,22.23,4759.0,20645.0,151453.0,79.0,23.9,8.0,4.1,3.1,13.6,216.0,2.6,2.3,2.2
2017-12-01,147625.0,22.31,4856.0,20703.0,151478.0,79.1,22.9,8.1,4.1,3.2,13.7,175.0,2.1,2.4,2.1
2018-01-01,147864.0,22.34,4926.0,20434.0,151894.0,79.0,21.5,8.2,4.1,3.2,13.5,239.0,2.4,2.4,NaN
2018-02-01,148177.0,22.40,5091.0,20641.0,152713.0,79.3,20.7,8.2,4.1,3.3,13.5,313.0,2.7,2.5,NaN

#### Chart data and annotation text

In [18]:
# Payrolls
df['payroll'].loc['2000-01-01':].to_csv('payroll.csv', header=True, index_label='DATE')
payrolls1 = '\\scriptsize{2018}\\\\\scriptsize{Feb}\\\ \\textbf{+'
payrolls2 = '{0:g}}}'.format(df['payroll'][-1])
payroll = '{}{}'.format(payrolls1, payrolls2)
wt('payroll.txt', payroll)

In [19]:
# Epop
df['LNS12300060'].loc['2000-01-01':].to_csv('LNS12300060.csv', header=True, index_label='DATE')
epop1 = '\\scriptsize{2018}\\\\\scriptsize{Feb}\\\ \\textbf{'
epop2 = '{}\%}}'.format(df['LNS12300060'][-1])
epop = '{}{}'.format(epop1, epop2)
wt('LNS12300060.txt', epop)

In [20]:
# AHE
df['ahe'].loc['2000-01-01':].to_csv('ahe.csv', header=True, index_label='DATE')
ahe1 = '\\scriptsize{2018}\\\\\scriptsize{Feb}\\\ \\textbf{'
ahe2 = '{}\%}}'.format(df['ahe'][-1])
ahe = '{}{}'.format(ahe1, ahe2)
wt('ahe.txt', ahe)

In [21]:
# AHE 12m
df['ahe2'].loc['2000-01-01':].to_csv('ahe2.csv', header=True, index_label='DATE')
ahe1 = '\\scriptsize{2018}\\\\\scriptsize{Feb}\\\ \\textbf{'
ahe2 = '{}\%}}'.format(df['ahe2'][-1])
ahe = '{}{}'.format(ahe1, ahe2)
wt('ahe2.txt', ahe)

In [35]:
with open("payroll.txt", "w") as text_file:
    print('{}{}'.format(payrolls1, payrolls2), file=text_file)

In [33]:
payroll

'\\scriptsize{2018}\\\\scriptsize{Jan}\\\textbf{+148}'

In [34]:
wt('payroll2.txt', payroll)

In [10]:
df.tail()

,CES0000000001,CES0500000008,LNS12032197,LNS12032200,LNS12035019,LNS12300060,LNS13025703,LNS13327709,LNS14000000,ptec,ptnec,payroll,ahe,ahe2,cpi
2017-09-01,146963.0,22.20,5048.0,20619.0,151942.0,78.9,25.5,8.3,4.2,3.3,13.6,14.0,2.6,2.6,2.2
2017-10-01,147234.0,22.18,4799.0,20552.0,151334.0,78.9,25.0,8.0,4.1,3.2,13.6,271.0,2.6,2.2,2.0
2017-11-01,147450.0,22.23,4759.0,20645.0,151453.0,79.0,23.9,8.0,4.1,3.1,13.6,216.0,2.6,2.3,2.2
2017-12-01,147610.0,22.31,4856.0,20703.0,151478.0,79.1,22.9,8.1,4.1,3.2,13.7,160.0,2.1,2.4,2.1
2018-01-01,147810.0,22.34,4926.0,20434.0,151894.0,79.0,21.5,8.2,4.1,3.2,13.5,200.0,2.4,2.4,NaN

In [18]:
payrolls2 = '{0:g}}}'.format(df['payroll'][-1])

In [20]:
wt('payroll.txt', payroll)

'\\scriptsize{2018}\\\\scriptsize{Jan}\\\textbf{+148}'

In [21]:
df['payroll'].loc['2000-01-01':].to_csv('payroll.csv', header=True, index_label='DATE')

In [8]:
df.tail(1)

,CES0000000001,CES0500000008,LNS12032197,LNS12032200,LNS12035019,LNS12300060,LNS13025703,LNS13327709,LNS14000000,ptec,ptnec,payroll,ahe,ahe2,cpi
2017-12-01,147380.0,22.3,4856.0,20703.0,151478.0,79.1,22.9,8.1,4.1,3.2,13.7,148.0,1.7,2.3,2.1

#### Use BLS text files to look up series IDs

In [ ]:
ln_series = 'https://download.bls.gov/pub/time.series/ln/ln.series'
ln = pd.read_table(ln_series, sep=r'\s*\t', engine='python')

In [21]:
ln[(ln['series_title'].str.contains('Unemployment Rate')) & 
   (ln['series_title'].str.contains('Black')) & 
   (ln['periodicity_code'] == 'M') & 
   (ln['seasonal'] == 'S')][['series_id', 'series_title']]

       series_id                                       series_title
915  LNS14000006  (Seas) Unemployment Rate - Black or African Am...
917  LNS14000007  (Seas) Unemployment Rate - Black or African Am...
919  LNS14000008  (Seas) Unemployment Rate - Black or African Am...
935  LNS14000018  (Seas) Unemployment Rate - 16-19 yrs., Black o...
937  LNS14000019  (Seas) Unemployment Rate - 16-19 yrs., Black o...
939  LNS14000020  (Seas) Unemployment Rate - 16-19 yrs., Black o...
959  LNS14000030  (Seas) Unemployment Rate - 20 yrs. & over, Bla...
961  LNS14000031  (Seas) Unemployment Rate - 20 yrs. & over, Bla...
963  LNS14000032  (Seas) Unemployment Rate - 20 yrs. & over, Bla...

#### Labor Productivity and Cost
PRS85006092

In [34]:
dft

            PRS85006092
DATE
1973-01-01       51.435
1973-04-01       51.483
1973-07-01       50.984
1973-10-01       50.654
1974-01-01       50.551
1974-04-01       50.418
1974-07-01       49.883
1974-10-01       50.325
1975-01-01       50.724
1975-04-01       51.570
1975-07-01       52.155
1975-10-01       52.205
1976-01-01       52.974
1976-04-01       53.483
1976-07-01       53.580
1976-10-01       53.753
1977-01-01       54.079
1977-04-01       54.311
1977-07-01       54.851
1977-10-01       54.147
1978-01-01       54.182
1978-04-01       55.244
1978-07-01       55.246
1978-10-01       55.595
1979-01-01       55.099
1979-04-01       54.947
1979-07-01       54.888
1979-10-01       54.839
1980-01-01       55.100
1980-04-01       54.502
...                 ...
2010-04-01      103.003
2010-07-01      103.520
2010-10-01      103.943
2011-01-01      103.078
2011-04-01      103.420
2011-07-01      103.233
2011-10-01      103.948
2012-01-01      104.093
2012-04-01      104.699
2012-07-01      104.522
2012-10-01      104.057
2013-01-01      104.286
2013-04-01      104.116
2013-07-01      104.541
2013-10-01      105.676
2014-01-01      104.774
2014-04-01      105.386
2014-07-01      106.530
2014-10-01      106.037
2015-01-01      106.748
2015-04-01      107.081
2015-07-01      107.426
2015-10-01      106.732
2016-01-01      106.417
2016-04-01      106.638
2016-07-01      107.295
2016-10-01      107.630
2017-01-01      107.664
2017-04-01      108.069
2017-07-01      108.865

[179 rows x 1 columns]

In [15]:
ln_series = 'https://download.bls.gov/pub/time.series/ln/ln.series'
ln = pd.read_table(ln_series, sep=r'\s*\t', engine='python')

In [ ]:
ce['series_id'].str

In [9]:
ce_series = 'https://download.bls.gov/pub/time.series/ce/ce.series'
ln_series = 'https://download.bls.gov/pub/time.series/ln/ln.series'

In [ ]:
s[0][1]

In [ ]:
d = {}
for i in ['ln', 'ce']:
    url = f'https://download.bls.gov/pub/time.series/{i}/{i}.series'
    t = pd.read_table(url, sep=r'\s*\t', engine='python')
    t = t[t['series_id'].isin([i[1] for i in s])].set_index('series_id')['series_title']
    for k, v in t.items(): d[k] = v

In [ ]:
t[t['series_id'].isin([i[1] for i in s])].set_index('series_id')['series_title']

In [ ]:
    
ce_series = 'https://download.bls.gov/pub/time.series/ce/ce.series'
ln_series = 'https://download.bls.gov/pub/time.series/ln/ln.series'
ce = pd.read_table(ce_series, sep=r'\s*\t', engine='python')[['series_id', 'series_title']]
ln = pd.read_table(ln_series, sep=r'\s*\t', engine='python')[['series_id', 'series_title']]

ce[ce['series_id'].isin([i[1] for i in s])].append(ln[ln['series_id'].isin([i[1] for i in s])])

In [ ]:
ce['series_id'][0]

In [ ]:
ce[ce['series_id'].isin([i[1] for i in s])].append(ln[ln['series_id'].isin([i[1] for i in s])])

In [ ]:
ce['series_id'][0]

In [ ]:
ce.iloc[0]['series_title']

In [ ]:
ce

In [ ]:
df['ahe'] = df['CES0500000008'].rolling(3).sum().pct_change(3)
df['ahe'] = ((((df['ahe']+1)**4)-1)*100).round(1) # annualize

In [ ]:
(((df['CES0500000008'].rolling(3).sum().pct_change(3)+1)**4)-1)*100

In [ ]:
df['ahe3'] = agr(df['CES0500000008'])
df['ahe2'] = (df['CES0500000008'].pct_change(12) * 100).round(1)

df[['ahe2', 'ahe3']].tail()

In [ ]:
d

In [ ]:
cpi.columns = ['cpi']

In [ ]:
cpi

In [ ]:
cpi = pdr(['CPIAUCSL'], 'fred', rng[0], pd.to_datetime('2017-12-31'))

In [ ]:
cpi

In [ ]:
df = df.join(cpi.pct_change(12) * 100)

In [ ]:
df['ahe2'] = df['CES0500000008'].pct_change(12) * 100

In [ ]:
%matplotlib inline
df.loc['1995-01-01':,['LNS14000000', 'LNS13327709']].plot()

In [ ]:
df.loc['1995-01-01':,'LNS12300060'].plot()

In [ ]:
df.loc['1995-01-01':,['ahe2', 'ahe', 'CWSR0000SA0']].plot()

In [ ]:
df.loc['1994-01-01':,['ptnec', 'ptec']].rolling(12).mean().plot()

In [ ]:
df.loc['1995-01-01':,'payroll'].plot()

In [ ]:
df = df_prev.append(df)

In [ ]:
(df['CES0500000003'].rolling(3).mean().pct_change(3)
             .add(1).pow(4).subtract(1).multiply(100).round(1))

In [ ]:
df_prev.columns = [s_id for name, s_id in s]

In [ ]:
df_prev

In [ ]:
df

In [ ]:
pd.to_datetime(['1973-01-01', '2015-12-31'])[0]

### Turn json data into a pandas dataframe

In [ ]:
# Build dataframe df from the API results, p
df = pd.DataFrame() # Empty dataframe to fill with values
for s in p: df[s['seriesID']] = pd.Series(index = idx, 
        data = [i['value'] for i in s['data']]
        ).astype(float).iloc[::-1]

### Calculate series for graphs

In [ ]:
print(f"Latest: {idx[0]:%B %Y}")

In [ ]:
today = datetime.datetime.now()
print(f'Cell run: {today:%b %d, %Y}')

In [ ]:
['{} {}'.format(i['period'], i['year']) for i in r]

In [ ]:
idx = pd.to_datetime([f"{i['period']} {i['year']}" for i in p[0]['data']])

In [ ]:
dd = {}
for x, y in s:
    if 
    dd[x]
    data = {param['seriesid'][0]: [float(i['value']) for i in r]}

In [ ]:
# Empty dictionary to fill with values
dd = {}

# Build a pandas series from the API results, p
for s in p:
    dd[s['seriesID']] = pd.Series(index = idx, 
        data = [i['value'] for i in s['data']]
        ).astype(float).iloc[::-1]

# Combine series into one pandas dataframe
df = pd.DataFrame(dd)

In [ ]:
p

In [ ]:
# List comprehensions - clean json data and covert the 
# date, value, and footnote into pandas dataframe columns
dates = ['{} {}'.format(i['period'], i['year']) for i in r]
index = pd.to_datetime(dates)
data = {param['seriesid'][0]: [float(i['value']) for i in r]}
# .iloc[::-1] reverses the sorting/order of the dataframe
df = pd.DataFrame(index=index, data=data).iloc[::-1]